// **************************
// INDEX
// **************************
html {
    font-family: $font-text;
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

p {
    margin: 0;
}

a {
    font-family: $font-link;
    font-size: 14.45px;
    color: blue;
}