a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(0,0,0,0);
}

.cap {
    font-size: 0.75rem;
}

.highlight {
    font-weight: bold;
}

.italic {
    font-family: Times;
    font-style: italic;
}

.current {
    font-weight: bold;
    text-decoration: underline;
}