body.info {
    background-color: black;
    color: white;
    font-weight: lighter;

    a {
        color: white;
    }

    a:hover {
        color: rgba(0,0,0,0);
    }

    img, .description, svg {
        display: none;
    }

    .info {
        color: white;
    }
}