.hero,
.border,
.firstHero {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
  margin: 0 0 30px 0;

  ul {
    padding: 0;
  }

  h1 {
    grid-column: 1/10;
  }

  p {
    grid-column: 2/7;
  }
}

.firstHero {
  padding-bottom: 0;
}

.heroGrid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 60px;
}

.border {
  border-bottom: 1px solid;
}

.image {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 40px;
  margin: 0 0 40px 0;

  .actualImage {
    grid-column: 2/-2;
    object-fit: contain;
  }
}

@media (max-width: 1440px) {
  .hero,
  .border {
    h1 {
      grid-column: 1/11;
    }

    p {
      grid-column: 2/8;
    }
  }

  .gridColumn.p {
    padding-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .hero,
  .border {
    p {
      grid-column: 2/10;
    }
  }
}

@media (max-width: 900px) {
  .hero,
  .border {
    .heroGrid {
      display: flex;
    }
  }
}
