.hero,
.index {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;

  .second {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 40px;

    div {
      grid-column: 2/-1;
    }
  }

  ul {
    padding: 0;
  }

  .pills {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid;
    border-radius: 100px;
    margin: 0 4px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .pills:first-child {
    margin: 0 4px 0 0;
    background-color: black;
    color: white;
  }

  .grid,
  .image {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 40px;

    a,
    h1 {
      grid-column: 1/13;
      padding: 30px 0 60px 0;
    }

    .entry {
      font-weight: normal;
      font-size: 112px;
      line-height: 112px;
    }

    p {
      grid-column: 2/10;
      padding-bottom: 120px;
    }
  }
}

.index {
  border-bottom: 1px solid;
}

.image {
  margin: 0 0 40px 0;

  .actualImage {
    grid-column: 2/-2;
    object-fit: contain;
  }
}
