.container {
  height: 100%;
  padding: 16px 20px;

  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin-bottom: 40px;
  }

  .footObj {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 40px;
    padding-bottom: 70px;

    :first-child {
      grid-column: 2/7;
    }

    :nth-child(2) {
      grid-column: 10/-1;

      .pills:first-child {
        margin: 0 4px 0 0;
        background-color: white;
        color: black;
        margin: 0 0 20px 0;
      }
    }
  }

  .pills {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid;
    border-radius: 100px;
    margin: 0 4px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .pills:first-child {
    margin: 0 4px 0 0;
    background-color: black;
    color: white;
    margin: 0 0 20px 0;
  }
}

.lists {
  p {
    padding: 10px 0 10px 0;
  }
}

.footDirect {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid;
}
