.container {
  height: 100%;
  padding: 16px 20px;

  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin-bottom: 40px;
  }

  .entry {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid;
  }

  .footTopContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 40px;
    padding: 90px 0 180px 0;

    :first-child {
      grid-column: 3/7;
    }

    :nth-child(2) {
      grid-column: 10/-1;
    }
  }
}

.lists {
  margin-top: 35px;
  p {
    padding: 10px 0 10px 0;
  }
}

@media (max-width: 1440px) {
  .container {
    header {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .footTopContainer {
      :first-child {
        grid-column: 3/8;
      }
    }
  }
}

@media (max-width: 900px) {
  .container {
    .footTopContainer {
      display: flex;
      flex-direction: column;
      padding: 0 0 30px 0;
    }
  }

  .footTopContainer > * {
    margin: 0 0 70px 0;
  }
}
