.bottom {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .description .hide {
        display: none;
    }

    .clock a {
        text-decoration: none;
    }

    .clock a:hover {
        text-decoration: underline;
    }
}