.top {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .info span.more-info {
        display: none;
    }

    .info {
        width: 50%;
        line-height: 22.5px;

        span {
            display: inline-block;
        }

        .checker {
            padding-top: 20px;
        }

        @include huge {
            width: 28%;
        }
    }
}