.desktop {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include phone {
        display: none;
    }
}

.mobile {
    display: none;

    @include phone {
        font-size: $mfont-size;

        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        .header,
        .footer {
            padding: 20px;
            font-size: 14px;

            a {
                font-size: 13px;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;

            .intro p:first-child {
                padding: 2vh 37.5px 0;
                font-size: 19px;
            }

            .intro p:nth-child(2) {
                padding: 15px;
                font-size: 18px;
            }

            .resume {
                font-size: 13px;
                text-align: center;

                a {
                    font-size: 12px;
                }

                div {
                    padding: 20px 0;

                    .title {
                        padding-bottom: 15px;
                        text-decoration: underline;
                    }
                }
            }

            .more {
                font-size: 14px;
                padding: 20px;

                a {
                    font-size: 13px;
                }
            }
        }
    }
}