.container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 40px;

  div {
    grid-column: 8/14;
  }

  .pills,
  .auxPills {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 100px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
  }

  .pills {
    background-color: black;
    color: white;
    margin-right: 4px;
  }

  .lists {
    p {
      padding: 10px 0 10px 0;
    }
  }
}

.auxPills {
  color: black;
  background-color: white;
  margin: 0 4px 0 4px;
}
