html,
body {
  margin: 0;
  height: 100%;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}

.container {
  height: 100%;
  padding: 16px 20px;

  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-color: #2b2b2b;
  margin-bottom: 37.5vh;

  a {
    text-decoration: none;
    color: black;
    margin: 0;
    font-family: adobe-garamond-pro, serif;
    font-weight: 400;
    font-style: normal;
    color: #2b2b2b;
    letter-spacing: 0;
    &:hover {
      color: #fe5000;
    }
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 260px;
    height: 48px;
    border-radius: 100px;
    border: 0;
    background-color: #f2f2f2;
    padding: 1px 30px;
    text-align: center;
    font-size: 14px;
  }

  button {
    width: 100%;
    height: 48px;
    background: rgba(254, 80, 0, 0.6);
    border: rgba(254, 80, 0, 0.6);
    border-radius: 100px;
    margin-top: 16px;
    text-transform: lowercase;
    font-size: 14px;
    color: white;
  }
}

button.onHover {
  background: #fff;
  color: #000000;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
